<!-- vim:set ts=2 sts=2 sw=2 et: -->

{% extends "base_generic.html" %}

{% block banner %}{% endblock %}
{% block headline %}
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container">
    <div class="row d-flex align-items-stretch no-gutters">
      <div class="col-md-3"></div>
      <div class="col-md-6 p-4 p-md-6 bg-light" style="margin-top:7%;margin-bottom:8%;">
        <h2>Login</h2>
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% if next %}
          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
          {% else %}
            <p>Please login to see this page.</p>
          {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password }}
          </div>
          <div class="form-group">
            <input type="submit" value="Login" class="btn btn-success py-3 px-5">
            <input type="hidden" name="next" value="{{ next }}">
          </div>
        </form>
        <p><a href="{% url 'password_reset' %}">Forget your password?</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
