<!-- vim:set ts=2 sts=2 sw=2 et: -->
{% extends "base_generic.html" %}


<!--div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                    <h2 class="mb-4">Welcome to Excavation of Caunus</h2>
                       <p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p><a href="#" class="btn btn-success px-4 py-3">Read More</a></p>
</div>-->	
{% block content %}
  <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
    <h2 class="mb-4">Welcome to Excavation of Caunus</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
	laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
	cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <!--<div class="row mt-5">
      <div class="col-lg-6">
        <div class="services-2 d-flex">
          <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background:#08743a;"><span class="flaticon-security"></span></div>
          <div class="text">
            <h3>{{ num_finds }}</h3>
            <p>{% if num_finds == 1 %}Find{% else %}Finds{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="services-2 d-flex">
          <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background:#08743a;"><span class="flaticon-reading"></span></div>
          <div class="text">
            <h3>{{ num_findings }}</h3>
            <p>{% if num_findings == 1 %}Finding{% else %}Findings{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="services-2 d-flex">
          <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background:#08743a;"><span class="flaticon-diploma"></span></div>
          <div class="text">
            <h3>{{ num_buildings }}</h3>
            <p>{% if num_buildings == 1 %}Building{% else %}Buildings{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="services-2 d-flex">
          <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background:#08743a;"><span class="flaticon-education"></span></div>
          <div class="text">
            <h3>{{ num_trenches }}</h3>
            <p>{% if num_trenches == 1 %}Trench{% else %}Trenches{% endif %}</p>
          </div>
        </div>
      </div>
    </div>-->
  </div>
{% endblock %}
